
<h3>Find Out What Your Birthday Says About You</h3>

<!-- user input form for DOB -->
<form action= "/" method="post">
	<p><label for="birthdate">Enter your birthday:</label><br></p>
	<input class="form-control" name="birthdate" type="date" /><br>
	<input type="submit" /><br>
</form> <!-- end user input form -->
