<!-- error message for DOB form entry using incorrect format -->
<% if !@error.nil? %>
	<p><%= @error %></p>
<% end %>

<!-- user input form for DOB -->
<form action= "/" method="post">
	<label for="birthdate">Enter your birthdate</label>
	<input class="form-control" name="birthdate" type="date" />
	<input type="submit" />
</form> <!-- end user input form -->
